{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}DT report{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        body {
            background-color: #fff;
        }
        #wrapper {
            text-align: center;
            width: 1000px;
            min-width: 600px;
            height: 100%;
            margin: auto auto;
            border-radius: 5px;
            padding: 40px;
        }
        #form {
            width: 500px;
            background-color: #ccccccaa;
            margin: auto auto;
            margin-bottom: 50px;
            padding: 20px;
            border-radius: 25px;
        }
        #severities {
            height: 140px;
            overflow: hidden;
        }
        .select2-container {
            text-align: left;
            border: 1px solid #ced4da;
            border-radius: .375rem;
        }

    </style>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
{% endblock %}

{% block content %}
<div id="wrapper">
    <h2>
        Welcome, Boy!
    </h2>
    <br>
    <div id="form" align="center">
        <h4>
            Generate report<br>from Dependency Track
        </h4>
        {{ render_form(form, action=url_for("get_report")) }}
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert" id="div_flash">
                        {{ message }}
                        <input type="button" class="btn-close" onclick="removeFlash()" style="float: right">
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %} 
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        function removeFlash() {
            const element = document.getElementById("div_flash");
            element.remove();
        }
    </script>
    <script>
        var req_get_all = 1;
        $(document).ready(function() {
            $("#project").select2({
                placeholder: "Click to load projects from DT and wait",
                allowClear: true
            });
            $(".selection").on("click", function(){
                var project_field = $("#project");
                sessionStorage.setItem("url", $("#url").val());
                sessionStorage.setItem("token", $("#token").val());
                if (project_field[0].length == 1 && req_get_all) {
                    req_get_all = 0;
                    $.ajax({
                        type: "POST",
                        url: "/projects/get_all",
                        data: {
                            "url": $("#url").val(),
                            "token": $("#token").val()
                        },
                        success: function(data) {
                            projects = jQuery.parseJSON(data);
                            $.each(projects, function (i, item) {
                                project_field.append($('<option>', { 
                                    value: item.value,
                                    text : item.name + " " + item.version + " (" + item.uuid + ")"
                                }));
                            });
                            $("#project").select2({
                                placeholder: "Select project",
                            });
                        },
                        error: function(data) {
                            req_get_all = 1;
                            location.reload();
                        },
                        complete: function(data) {
                            $("#url").val(sessionStorage.getItem("url"));
                            $("#token").val(sessionStorage.getItem("token"));
                        }
                    });
                }
            })
        });
    </script>
{% endblock %}